.codio-assessment-settings-content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    box-sizing: border-box;
}

.codio-assessment-settings-row {
    display: flex;
    flex-direction: column;
}

.codio-assessment-settings-form-radio {
    display: flex;
    &:focus-within {
        color: blue; /* focus  color */
    }
    input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;

        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 50%;
        transform: translateY(-0.075em);
    }

    input[type="radio"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em rebeccapurple; /* primary color */
        background-color: CanvasText;
        position: absolute;
        top: 0.1em;
        left: 0.1em;
    }

    input[type="radio"]:checked::before {
        transform: scale(1);
    }

    input[type="radio"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
    }
}


.codio-assessment-settings-form-toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;

    input:checked + .codio-assessment-settings-form-toggle-slider {
        background-color: #2196F3;
    }

    input:focus + .codio-assessment-settings-form-toggle-slider {
        box-shadow: 0 0 4px #2196F3;
    }

    input:checked + .codio-assessment-settings-form-toggle-slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
    }
}

.codio-assessment-settings-form-toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.codio-assessment-settings-form-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 11px;
}

.codio-assessment-settings-form-toggle-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.codio-assessment-settings-form-label,
.codio-assessment-settings-form-input {
    color: rgba(0, 0, 0, 0.6);
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 1.4em;
}

.codio-assessment-settings-form-input-container:has(> .codio-assessment-settings-form-input:focus-visible) {
    position: relative;

    .codio-assessment-settings-form-label {
        color: #006eb3;
    }
    &::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #006eb3;
        position: absolute;
        bottom: 0;
    }
}

.codio-assessment-settings-form-input {
    box-sizing: border-box;
    padding: 16px 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    background-color: rgba(0, 0, 0, 0.06);

    &:focus-visible {
        outline: none;
    }
}

.codio-assessment-settings-button {
    margin: 0;
    padding: 6px 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    border-radius: 6px;

    &:disabled {
        cursor: not-allowed;
    }
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.12);
    transition: 0.25s;
}

.codio-assessment-settings-button--primary:not(:disabled) {
    color: #fff;
    background-color: #006eb3;

    &:hover {
        background-color: #0092db;
    }
}

.codio-assessment-settings-button--secondary:not(:disabled) {
    color: #fff;
    background-color: #000;

    &:hover {
        background-color: #343A40;;
    }
}

.codio-assessment-settings-button--danger:not(:disabled) {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(240, 67, 73);

    &:hover {
        background-color: rgb(168, 46, 51);
    }
}
